In [39]:
#### import global modules
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path
from yaml import safe_load
import google.oauth2.credentials
from google.cloud import bigquery
import gc

# Set global vars
pth_project = Path(os.getcwd().split('notebooks')[0])
pth_data = pth_project / 'data'
pth_queries = pth_project / 'core' / 'queries'
pth_creds = pth_project / 'conf' / 'local' / 'project_config.yaml'
sys.path.insert(0, str(pth_project))
d_project_config = safe_load(pth_creds.open())
# d_params = safe_load((pth_project / 'core' / 'parameters' / 'common.yaml').open())['data_extract']

# import local modules
from core.utils.gcp import connect_bq_services
# from core.etl.extract import extract_bq_data, extract_pr_codes, format_conv_df, filter_convs

# Connect to google services
bq_client = connect_bq_services(d_project_config['gcp-project-name'])
pd.options.display.max_rows = 100

In [40]:
def extract_bq_data(bq_client, sql=None, pth_query=None):
    if sql is not None:
        df = bq_client.query(sql).to_dataframe()
    elif pth_query is not None:
        sql = pth_query.read_text()
        df = bq_client.query(sql).to_dataframe()
    else:
        raise ValueError('`sql` or `pth_query` should be set')  
    return df

In [41]:
Campaign_Query='''


with Camp_data as (

select BACCT_NUM as BAN
,sum(OPENED) as Opened
from `divgpras-pr-579355.SHS.SHS_ALR_Campaign_data_SAS`
where NOT REGEXP_CONTAINS (CAMP_CREATIVE, r'ALR1_TP5')and 
date(Campaign_date)>='2022-01-01' and date(Campaign_date)<='2022-06-30'
group by BACCT_NUM
)

select BAN from  Camp_data
where Opened=0
and BAN NOT IN (select distinct BACCT_NUM as BAN from `divgpras-pr-579355.SHS.SHS_ALR_Campaign_data_Jan_June_2022`)


'''

In [42]:
Camp_DF=extract_bq_data(bq_client, sql=Campaign_Query)

In [43]:
Camp_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3633 entries, 0 to 3632
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   BAN     3633 non-null   Int64
dtypes: Int64(1)
memory usage: 32.1 KB

In [44]:
# pd.DataFrame(Camp_DF.groupby(['CAMP_CREATIVE','OPENED']).agg(
    
#     Customer_count= ('BACCT_NUM','nunique'),
#     # Email_Opened_count=('OPENED','sum'),
#     # CT_Opened_count=('CLICKTHROUGH','sum'),
#     # softbounce_count=('SOFTBOUNCE','sum'),
#     # Hardbounce_count=('HARDBOUNCE','sum'),
#     # Unsub_count=('UNSUBSCRIBE','sum'),
#     campaign_date_min=('Campaign_date','min'),
#     campaign_date_max=('Campaign_date','max')

    
#     # # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
#     # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
#     # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
# ).reset_index())

In [45]:
# def Camp_creative_making(row):
    
#     if row['CAMP_CREATIVE']=='ALR1_TP5X_V1' or row['CAMP_CREATIVE']=='ALR1_TP5_V1':
#         return 'V1'
#     elif row['CAMP_CREATIVE']=='ALR1_TP5X_V2' or row['CAMP_CREATIVE']=='ALR1_TP5_V2':
#         return 'V2'
#     elif row['CAMP_CREATIVE']=='ALR1_TP5X_V3' or row['CAMP_CREATIVE']=='ALR1_TP5_V3':
#         return 'V3'
#     elif row['CAMP_CREATIVE']=='ALR1_TP5X_V4' or row['CAMP_CREATIVE']=='ALR1_TP5_V4':
#         return 'V4'
#     else:
#         return "None"

In [46]:
# Camp_DF['Campaign_date'].value_counts().sort_index()

In [47]:
# Camp_DF['CAMP_CREATIVE_New']=Camp_DF.apply(Camp_creative_making,axis=1)

NameError: name 'Camp_creative_making' is not defined

In [49]:
# Camp_DF['CAMP_CREATIVE_New'].value_counts().sort_index()

In [50]:
# pd.DataFrame(Camp_DF.groupby(['CAMP_CREATIVE_New','OPENED']).agg(
    
#     Customer_count= ('BACCT_NUM','nunique'),
#     # Email_Opened_count=('OPENED','sum'),
#     # CT_Opened_count=('CLICKTHROUGH','sum'),
#     # softbounce_count=('SOFTBOUNCE','sum'),
#     # Hardbounce_count=('HARDBOUNCE','sum'),
#     # Unsub_count=('UNSUBSCRIBE','sum'),
#     campaign_date_min=('Campaign_date','min'),
#     campaign_date_max=('Campaign_date','max')

    
#     # # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
#     # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
#     # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
# ).reset_index())

In [51]:
config= bigquery.job.LoadJobConfig()
config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

Table_BQ = 'SHS.SHS_ALR_Campaign_data_Control_NotOpened_Jan_June_2022'

bq_table_instance= bq_client.load_table_from_dataframe(Camp_DF, Table_BQ,job_config=config)

In [52]:
H2_2022_Snapshot='''




DECLARE target_date_start_H2 DATE DEFAULT "2022-07-01";
DECLARE target_date_start DATE DEFAULT "2022-12-01";
DECLARE target_date_end DATE DEFAULT "2022-12-31";
DECLARE target_date_start_next_month DATE DEFAULT "2023-01-01";



With Camp_V1_BAN as (

select distinct BAN from `divgpras-pr-579355.SHS.SHS_ALR_Campaign_data_Control_NotOpened_Jan_June_2022`

)


, prod_snpsht_SMHM_start_H2 as (


select distinct bacct_bus_bacct_num as BAN,1 as count_of_BAN_FFH_start_H2
FROM `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` 
where pi_prod_instnc_typ_cd='SMHM' 
and pi_prod_instnc_stat_cd in ('A')
and  consldt_cust_typ_cd = 'R'
and DATE(prod_instnc_ts)=target_date_start_H2


)

, prod_snpsht_SMHM_end_H2 as (


select distinct bacct_bus_bacct_num as BAN,1 as count_of_BAN_FFH_end_H2
FROM `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` 
where pi_prod_instnc_typ_cd='SMHM' 
and pi_prod_instnc_stat_cd in ('A')
and  consldt_cust_typ_cd = 'R'
and DATE(prod_instnc_ts)=target_date_end


)
, ARPU_Calculation_start_H1 as(
SELECT
  distinct billg_acct_num AS ban,
  EXTRACT(YEAR
  FROM
    bill.bill_dt)||'-'||LPAD(CAST(EXTRACT(MONTH
      FROM
        bill.bill_dt) AS STRING), 2, '0') AS bill_year_month,
  sum(bill.rid_unit_chrg_amt) as ARPU_SMHM,
  sum(tot_inv_amt) as ARPU_FFH
  FROM
  `cio-datahub-enterprise-pr-183a.ent_cust_bill.bq_wln_inv_sum_view` bill
WHERE
  DATE(bill.bill_dt)>=  '2021-12-01'
  and DATE(bill.bill_dt)< '2022-01-01'
  group by ban,bill_year_month
)


, ARPU_Calculation_start_H2 as(
SELECT
  distinct billg_acct_num AS ban,
  EXTRACT(YEAR
  FROM
    bill.bill_dt)||'-'||LPAD(CAST(EXTRACT(MONTH
      FROM
        bill.bill_dt) AS STRING), 2, '0') AS bill_year_month,
  sum(bill.rid_unit_chrg_amt) as ARPU_SMHM,
  sum(tot_inv_amt) as ARPU_FFH
  FROM
  `cio-datahub-enterprise-pr-183a.ent_cust_bill.bq_wln_inv_sum_view` bill
WHERE
  DATE(bill.bill_dt)>=  '2022-06-01'
  and DATE(bill.bill_dt)< '2022-07-01'
  group by ban,bill_year_month
)

, ARPU_Calculation_end_H2 as(
SELECT
  distinct billg_acct_num AS ban,
  EXTRACT(YEAR
  FROM
    bill.bill_dt)||'-'||LPAD(CAST(EXTRACT(MONTH
      FROM
        bill.bill_dt) AS STRING), 2, '0') AS bill_year_month,
  sum(bill.rid_unit_chrg_amt) as ARPU_SMHM,
  sum(tot_inv_amt) as ARPU_FFH
  FROM
  `cio-datahub-enterprise-pr-183a.ent_cust_bill.bq_wln_inv_sum_view` bill
WHERE
  DATE(bill.bill_dt)>=  '2022-12-01'
  and DATE(bill.bill_dt)< '2023-01-01'
  group by ban,bill_year_month
)

select a.BAN
,b.count_of_BAN_FFH_start_H2
,d.count_of_BAN_FFH_end_H2
,c.bill_year_month as bill_year_month_H1_2022_start
,c.ARPU_SMHM as ARPU_SMHM_H1_2022_start
,c.ARPU_FFH as ARPU_FFH_H1_2022_start
,e.bill_year_month as bill_year_month_H2_2022_start
,e.ARPU_SMHM as ARPU_SMHM_H2_2022_start
,e.ARPU_FFH as ARPU_FFH_H2_2022_start
,f.bill_year_month as bill_year_month_H2_2022_end
,f.ARPU_SMHM as ARPU_SMHM_H2_2022_end
,f.ARPU_FFH as ARPU_FFH_H2_2022_end

 from Camp_V1_BAN a
left join prod_snpsht_SMHM_start_H2 b
on a.BAN=b.BAN
left join prod_snpsht_SMHM_end_H2 d
on a.BAN=d.BAN
left join ARPU_Calculation_start_H1 c
on a.BAN=c.ban
left join ARPU_Calculation_start_H2 e
on a.BAN=e.ban
left join ARPU_Calculation_end_H2 f
on a.BAN=f.ban


'''

In [53]:
H2_2022_Snapshot_count=extract_bq_data(bq_client, sql=H2_2022_Snapshot)

In [54]:
H2_2022_Snapshot_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3633 entries, 0 to 3632
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   BAN                            3633 non-null   Int64
 1   count_of_BAN_FFH_start_H2      3399 non-null   Int64
 2   count_of_BAN_FFH_end_H2        3032 non-null   Int64
 3   bill_year_month_H1_2022_start  3627 non-null   object
 4   ARPU_SMHM_H1_2022_start        3627 non-null   object
 5   ARPU_FFH_H1_2022_start         3627 non-null   object
 6   bill_year_month_H2_2022_start  3629 non-null   object
 7   ARPU_SMHM_H2_2022_start        3596 non-null   object
 8   ARPU_FFH_H2_2022_start         3629 non-null   object
 9   bill_year_month_H2_2022_end    3632 non-null   object
 10  ARPU_SMHM_H2_2022_end          3470 non-null   object
 11  ARPU_FFH_H2_2022_end           3632 non-null   object
dtypes: Int64(3), object(9)
memory usage: 351.4+ KB

In [55]:
H2_2022_Snapshot_count.head()

,BAN,count_of_BAN_FFH_start_H2,count_of_BAN_FFH_end_H2,bill_year_month_H1_2022_start,ARPU_SMHM_H1_2022_start,ARPU_FFH_H1_2022_start,bill_year_month_H2_2022_start,ARPU_SMHM_H2_2022_start,ARPU_FFH_H2_2022_start,bill_year_month_H2_2022_end,ARPU_SMHM_H2_2022_end,ARPU_FFH_H2_2022_end
0,603880559,1,1,2021-12,92.210000000,210.660000000,2022-06,598.210000000,546.740000000,2022-12,89.210000000,27.960000000
1,603935372,1,1,2021-12,53.000000000,329.100000000,2022-06,51.330000000,311.480000000,2022-12,72.000000000,310.880000000
2,603148329,1,1,2021-12,73.330000000,223.980000000,2022-06,63.330000000,237.630000000,2022-12,51.000000000,216.350000000
3,601590536,1,<NA>,2021-12,71.000000000,139.650000000,2022-06,71.000000000,160.650000000,2022-12,5.000000000,189.000000000
4,600678488,1,1,2021-12,100.010000000,258.310000000,2022-06,100.010000000,263.640000000,2022-12,92.780000000,300.590000000

In [56]:
pd.DataFrame(H2_2022_Snapshot_count).agg(
    
    Customer_count= ('BAN','nunique'),
    Customer_count_1= ('count_of_BAN_FFH_start_H2','sum'),
    Customer_count_2= ('count_of_BAN_FFH_end_H2','sum'),
    # Email_Opened_count=('OPENED','sum'),
    # CT_Opened_count=('CLICKTHROUGH','sum'),
    # softbounce_count=('SOFTBOUNCE','sum'),
    # Hardbounce_count=('HARDBOUNCE','sum'),
    # Unsub_count=('UNSUBSCRIBE','sum'),
    # campaign_date_min=('Campaign_date','min'),
    # campaign_date_max=('Campaign_date','max')

    
    # # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
    # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
    # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
).reset_index()

,index,BAN,count_of_BAN_FFH_start_H2,count_of_BAN_FFH_end_H2
0,Customer_count,3633.0,NaN,NaN
1,Customer_count_1,NaN,3399.0,NaN
2,Customer_count_2,NaN,NaN,3032.0

In [57]:
H2_2022_Snapshot_count['BAN'].value_counts()

603880559    1
603925697    1
602777920    1
603188467    1
603148329    1
            ..
603013827    1
601546951    1
603941650    1
603942529    1
603392019    1
Name: BAN, Length: 3633, dtype: Int64

In [58]:
H2_2022_Snapshot_count[H2_2022_Snapshot_count['BAN']==208624864]

Empty DataFrame
Columns: [BAN, count_of_BAN_FFH_start_H2, count_of_BAN_FFH_end_H2, bill_year_month_H1_2022_start, ARPU_SMHM_H1_2022_start, ARPU_FFH_H1_2022_start, bill_year_month_H2_2022_start, ARPU_SMHM_H2_2022_start, ARPU_FFH_H2_2022_start, bill_year_month_H2_2022_end, ARPU_SMHM_H2_2022_end, ARPU_FFH_H2_2022_end]
Index: []

In [59]:
H2_2022_Snapshot_count.to_csv('ALR_Campaign_Control_2022H2.csv',index=False)

In [73]:
Contract_status_Query='''






with Intial_snapshot as (
        
     SELECT 
     distinct b.BAN as ban_start_H1
     ,a.pi_prod_instnc_stat_cd as status_intial_start_H1
    , max(pi_cntrct_end_ts) as latest_contract_end_dt_start_h1

    FROM `divgpras-pr-579355.SHS.SHS_ALR_Campaign_data_Control_NotOpened_Jan_June_2022` b 
    LEFT JOIN`cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` a
    
    ON a.bacct_bus_bacct_num = b.BAN 

    WHERE DATE(prod_instnc_ts) = '2022-01-01'
    and a.pi_prod_instnc_typ_cd='SMHM'
    and a.pi_prod_instnc_stat_cd='A'

    GROUP BY 
     b.BAN,a.pi_prod_instnc_stat_cd

)


, H2_start_snapshot as (
        
        SELECT
     distinct b.BAN as ban_start_h2
    ,a.pi_prod_instnc_stat_cd as status_start_h2
    , max(pi_cntrct_end_ts) as contract_end_dt_start_h2

    FROM `divgpras-pr-579355.SHS.SHS_ALR_Campaign_data_Control_NotOpened_Jan_June_2022` b 
    LEFT JOIN`cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` a
    
    ON a.bacct_bus_bacct_num = b.BAN 

    WHERE DATE(prod_instnc_ts) = '2022-07-01'
    and a.pi_prod_instnc_typ_cd='SMHM'

    GROUP BY 
     b.BAN,a.pi_prod_instnc_stat_cd

)

, H2_end_snapshot as (
        
        SELECT
     distinct b.BAN as ban_end_h2
    ,a.pi_prod_instnc_stat_cd as status_end_h2
    , max(pi_cntrct_end_ts) as contract_end_dt_end_h2

    FROM `divgpras-pr-579355.SHS.SHS_ALR_Campaign_data_Control_NotOpened_Jan_June_2022` b 
    LEFT JOIN`cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` a
    
    ON a.bacct_bus_bacct_num = b.BAN 

    WHERE DATE(prod_instnc_ts) = '2022-12-31'
    and a.pi_prod_instnc_typ_cd='SMHM'

    GROUP BY 
    b.BAN,a.pi_prod_instnc_stat_cd

)




select 
distinct a.ban_start_H1,a.status_intial_start_H1,a.latest_contract_end_dt_start_h1,b.*,c.*
from Intial_snapshot a
left JOIN  H2_start_snapshot b
on a.ban_start_H1=b.ban_start_h2 
left join H2_end_snapshot c
on a.ban_start_H1=c.ban_end_h2 

'''

In [74]:
Contract_DF=extract_bq_data(bq_client, sql=Contract_status_Query)

In [75]:
Contract_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3899 entries, 0 to 3898
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ban_start_H1                     3899 non-null   Int64
 1   status_intial_start_H1           3899 non-null   object
 2   latest_contract_end_dt_start_h1  3899 non-null   object
 3   ban_start_h2                     3899 non-null   Int64
 4   status_start_h2                  3899 non-null   object
 5   contract_end_dt_start_h2         3899 non-null   object
 6   ban_end_h2                       3898 non-null   Int64
 7   status_end_h2                    3898 non-null   object
 8   contract_end_dt_end_h2           3898 non-null   object
dtypes: Int64(3), object(6)
memory usage: 285.7+ KB

In [77]:
Contract_DF.to_csv('ALR_Campaign_Control_status_2022H2.csv',index=False)